@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

.all {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: "Amatic SC", sans-serif;
    background-color: burlywood;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure full viewport height */
    margin: 0; /* Remove default margin */
    font-size: 300px;
}