@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

.all {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D21F3C;
    font-family: "Amatic SC", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.lose {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    color: white;
    font-size: 200px;
}

.replay {
    display: flex;
    justify-content: right;
    color: black;
    font-size: 60px;
    margin-top: 235px;
    margin-right: 20px;
}